@import 'components/Container.scss';
@import 'components/Heading.scss';
@import 'components/Link.scss';

:root {
  --color-background: #1a3144;
  --color-foreground: #223b50;
  --color-text: #c0c0c0;
  --color-text-heading: #c0c0c0;
  --color-text-link: #c0c0c0;

  --light-color-background: #1a3144;
  --light-color-foreground: #223b50;
  --light-color-text: #c0c0c0;
  --light-color-text-heading: #c0c0c0;
  --light-color-text-link: #c0c0c0;

  --dark-color-background: #1a3144;
  --dark-color-foreground: #223b50;
  --dark-color-text: #c0c0c0;
  --dark-color-text-heading: #c0c0c0;
  --dark-color-text-link: #c0c0c0;

  --color-25: #15334d;
  --color-50: #1a3144;
  --color-100: #223b50;
  --color-200: #334a5f;
  --color-300: #2c4357;
  --color-400: #8866f0;
  --color-500: #15334d;
  --color-600: #8eaac4;
  --color-700: #5833c3;
  --color-800: #4822b4;
  --color-900: #12293e;
  --color-1000: #009dff;
  --color-1100: #008ae0;
  --color-1200: #2d5475;
}
